/* h2,h6,p,a{background-color: rgba(235, 27, 173, 0.424);}
h3{background-color: blue;}
h1{background-color: violet; margin: 0;}
.container{background-color: blue;}
section{background-color: #000000 !important;} 
main{background-color: #74638f;} 
body{color: white;} */
:root {
    --swiper-theme-color: transparent !important;
     --swiper-navigation-size: 0 !important;
}
html {
    /*Setting a base font size of 10px gives us easier rem calculations
      Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth 
     */  
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    background: #000;
}


/* START GLOBAL */
* {   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.section {
    overflow: hidden;
    font-size: 2.4rem;
    background-color: #000;
}

.container {
    width: 100%;
    padding: 0 26px 0;
    max-width: 1140px;
    margin: 3em auto 33.3px;
}

h3 {
    color: #A1A1A6;
    font-size: 3rem;
    margin-top: -0.1rem;
    font-style: normal;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(160, 78, 78, 0.25);
}

hr {
    width: 90%;
    margin: 0 auto;
    height: 0.4em;
    border-radius: 1em;
    background-color: #1d1d1f;
    border: none;
}

p {
    font-size: 2.25rem;
    line-height: 3.75rem;
    padding-top: 20px;
    font-weight: 500;
    color: #A1A1A6;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span {
    font-weight: 600;
    color: #CCCCCC;
}

a {
    text-decoration: none;
    color: #fff !important;
}

a:visited {
    color: #fff !important;
}

a:hover {
    opacity: 0.7;
}

button:hover {
    opacity: 0.7;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-start {
    justify-content: flex-start;
}

.space-between {
    justify-content: space-between;
}
/* END GLOBAL */


/* MAIN START */
#main-container {
    margin-top: 26px !important;
    margin-top: 0;
}

#top-div {
    display: flex;
    justify-content: space-between;
}
#title {
    padding-top: 0;
    padding-bottom: 0;
    color: #F5F5F7;
    font-size: 6.5rem;
    font-weight: bold;
    font-style: normal;
    max-height: 65px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

#img-div {
    display: flex;
    align-items: center;
}
#image {
    max-width: 31rem;
    height: auto;
}
#img-caption {
    font-size: 0.1px;
    color: transparent;
    position: absolute;
    left: -1000px;
}

#bottom-div {
    margin-top: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quote-div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
#quote {
    margin: auto;
    display: inline-block;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    color: #D9D9D9;
    line-height: 4rem;
    padding: 0;
}
p img {
    width: 2rem;
    opacity: 10;
}
#quote-left-top {
    position: absolute;
    left: -.55rem;
    top: -.253rem;
}
#quote-right-bottom {
    position: absolute;
    right: 5.3rem;
    bottom: -0.2rem;
}
/* MAIN END */


/* SECTION 2 START */
#tim-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;

}
#tribute-info {
    padding-top: 0;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    color: #CCCCCC;
    background: #1d1d1f;
    border-radius: 0.8em;
    padding: 0.6em 1em;
    box-sizing: border-box;
    font-weight: 600;
}
#tribute-link {color: #477ca7 !important;}

.noscriptmsg {
    text-align: center;
    font-weight: 500;
    border-radius: 0.8em; 
    margin-top: 30px;
    padding: 0.3em 1em;
    color: #721c24;
    background-color: #fd8892;
    border-color: #f5c6cb;
}
#strong-js {
    font-weight: 600;
}

#swiper-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    background-color: #000;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: #000;
}
.swiper-slide img {
    display: block;
    width: 33rem;
    height: auto;
    margin: auto;
    background-color: #000;
}
/* SECTION 2 END */


/* FOOTER START */
footer {
    margin-top: 3em;
    background: #1d1d1f !important;
}

#footer-container {
    padding: 0;
    margin: 0 auto;
}

.copyright {
    display: flex;
    justify-content: center;
}

.copyright p {
    font-size: 16px; 
    margin: 33px auto 10px;
    padding: 0;
    line-height: 33px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}

#footer-link1,
#footer-link2 {
    color: #fff !important;
}
/* FOOTER END */


@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 922px) {
    .container {
       max-width: 960px;
    }

    #top-div {
       display: block;
    }

    #image {
       margin: 2em auto 0;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 9.5px;
    }

    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 593.735px){
    #quote {
        font-size: 3rem;
    }

    #quote {
        font-size: 2.85rem !important;
    }

    #quote-left-top {
        left: -.55rem;
        top: -.100rem;
    }
    #quote-right-bottom {
        right: 3.999rem;
        bottom: -0.01rem;
    }
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 8.5526px;
    }

    .container {
        max-width: 1140px;
    }

    #quote {
        font-size: 2.7rem !important;
    }

    #quote-left-top {
        left: -.55rem;
        top: -.100rem;
    }
    #quote-right-bottom {
        right: 3.999rem;
        bottom: -0.2rem;
    }
}

@media only screen and (max-width: 437px) /*320px — 480px*/ {
    #quote {
        font-size: 2.43rem !important;
    }

    #quote-left-top {
        left: -0.6rem;
        top: 0.1rem;
    }
    #quote-right-bottom {
        right: 3.47rem;
        bottom: 0.01rem;
    }
}

@media only screen and (max-width: 390px) /*320px — 480px*/ {
    html {
        font-size: 8.3px;
    }
}

@media only screen and (max-width: 380px)  {
    html {
        font-size: 8.2px;
    }
}

@media only screen and (max-width: 376px)  {
    html {
        font-size: 8px;
    }

    .copyright p {
        font-size: 14px;
    }
}