/* * {

} */
html {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #000000;
}
img {
    position: absolute;
    width: 500px;
    right: 90px;
    top: 200px;
    /* height: 722.05px;  */
    /* max-width: 200px; */
}

#title-timcook {
    color: #fff;

}
