/*colors declararations*/
 :root {
    --first-color: #000;
    --second-color: #fff;
    --third-color: ;
} 

h2,
h6,
p,
a
 {
  background-color: rgba(235, 27, 173, 0.424);
}
h3{background-color: blue;}
h1{background-color: violet; margin: 0;}
.container {
  background-color: blue;
}
section {
  background-color: #000000 !important;
}

/* start global */
html {
    /*Setting a base font size of 10px gives us easier rem calculations
      Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth 
     */  
    font-size: 10px;  
    scroll-behavior: smooth;
}

* {   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}

#main {
    background-color: #74638f;
    overflow: hidden;
    font-size: 2.4rem;
}



.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.6rem 1.6rem;
    max-width: 1140px;
    background-color: #000000;
}

h1 {
    color: 
    font-size: ;
    font-family: ;
}

a {
    color: #404346;
}

a:visited {
    color: #74638f;
}

a:hover {
    opacity: 0.7;
}

button:hover {
    opacity: 0.7;
}

.flex-start {
    justify-content: flex-start;
}

.space-between {
    justify-content: space-between;
}

#left_right-div {
    display: grid;
    grid-template-columns: 35% 65%;
}

#tim_img-div {
    display: flex;
    align-items: center;
    justify-content: center;    
}

#tim-img {
    width: 100%;
    max-width: 40rem;
    height: auto;
}